[submodule "external/ui"]
	path = external/ui
	url = https://github.com/rebuildup/my-web-tools-ui.git
[submodule "external/prototype"]
	path = external/prototype
	url = https://github.com/rebuildup/tool-prototype.git
[submodule "external/text-counter"]
	path = external/text-counter
	url = https://github.com/rebuildup/tool-text-counter.git
	branch = main
[submodule "external/color-palette"]
	path = external/color-palette
	url = https://github.com/rebuildup/tool-color-palette.git
	branch = main
[submodule "external/sequential-png-preview"]
	path = external/sequential-png-preview
	url = https://github.com/rebuildup/tool-sequential-png-preview.git
	branch = main
[submodule "external/svg2tsx"]
	path = external/svg2tsx
	url = https://github.com/rebuildup/tool-svg2tsx.git
	branch = main
