table {
	border-collapse: collapse;
	width: 98%;
}

th,
td {
	border: 1px solid var(--ProtoTypeMainColor);
	padding: 8px;
	text-align: left;
}

th {
	background-color: var(--ProtoTypeMainBG);
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: var(--ProtoTypeMainBG);
}
