table {
  border-collapse: collapse;
  width: 98%;
}

th,
td {
  border: 1px solid var(--MainColor);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--MainBG);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--MainBG);
}
