.header {
  color: var(--MainColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title {
  grid-column: 2;
  justify-self: center;
}
.title span {
  color: var(--MainAccent);
}
.current-time {
  position: fixed;
  top: 2em;
  right: 1em;
  margin: 0;
}
.player-card {
  position: fixed;
  top: 1.4em;
  left: 1em;
  margin: 0;
}

.player-panel {
  width: 280px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--MainBG);
  border: solid 2px var(--MainAccent);
  border-radius: 8px;
  z-index: 1000;
}
button {
  transition: color 0.5s cubic-bezier(0, 0.7, 0.2, 1);
}

button:hover {
  background: linear-gradient(to top, var(--MainAccent) 50%, var(--MainBG) 50%);
  background-size: 100% 200%;
  animation: slideInLeft 1s cubic-bezier(0, 0.7, 0.2, 1);
}

@keyframes slideInLeft {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0;
  }
}
