.selectbox-5 {
  margin-left: 1em;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-5::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: var(--MainColor);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.selectbox-5 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: none;
  border-bottom: 2px solid var(--MainColor);
  background-color: var(--MainBG);
  color: var(--MainColor);
  font-size: 1em;
  cursor: pointer;
}

.selectbox-5 select:focus {
  outline: none;
}
