/* ホーム画面用のスタイル */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.openbtn {
  top: 50%;
  position: fixed;
  color: var(--MainColor);
  padding: 10px 20px;
  font-size: 50px;
  transform: translateY(-100%);
}
